name: Rust

on:
    push:
        branches: ['main']
    pull_request:
        branches: ['main']

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Build example actix
              run: cargo build --example actix_basic
            - name: Build example axum
              run: cargo build --example axum_basic
